
@{
    ViewBag.Title = "SentMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your message was sent to your team.</h2>

<p>To return press this link: @Html.ActionLink("Return", "Index", "Messages")</p>

