@model TeamManagement.ViewModels.AttendanceViewModel

@{
    ViewBag.Title = "MarkAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mark Attendance For @Model.GameDates.ToString()</h2>

