
@{
    ViewBag.Title = "AlreadyApplied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Already Applied</h2>

<p>You have a pending application on record.  Please wait for the coach to accept or deny your application.</p>

<p>To return to your profile please click here: @Html.ActionLink("Profile", "Profile", "Account")</p>