
@{
    ViewBag.Title = "AwaitConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Await Confirmation</h2>

<p>You will receive an alert if your application for the position was denied or accepted.  Please continue to support us.</p>

<p>@Html.ActionLink("Return To Profile", "Profile", "Account")</p>